/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* top nav */

.top-nav{
    padding: 0.5rem;
    font-size: 13px;
}

.top-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
}

.top-nav-link{
    margin: 0 0.5rem;
}

.top-nav-link:hover, .top-nav-link:active{
    text-decoration: underline;
}

.profile-picture{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.google-apps{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 0.8rem 0 1rem;
    color: #5f6368;
}

.google-apps svg{
    fill: currentColor;
}

/* footer (bottom) nav */

.footer{
    margin-top: auto;
    background: #f2f2f2;
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1.5rem;
}

@media screen and (max-width: 685px){
    .bottom-nav{
        justify-content: center;
    }
}

@media screen and (max-width: 460px){
    .bottom-nav{
        padding: 0;
    }
}

.bottom-nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-nav-link{
    display: block;
    padding: 1rem;
    color: #70757a;
}

@media screen and (max-width: 420px){
    .bottom-nav-link{
        padding: 1rem 0.3rem;
    }
}
.bottom-nav-link:hover, .bottom-nav-link:active{
    text-decoration: underline;
}