/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    text-align: center;
}

button, input{
    font: inherit;
}

svg{
    fill: currentColor;
}


/* top nav */

.top-nav{
    padding: 0.5rem;
    font-size: 13px;
}

.top-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
}

.top-nav-link{
    margin: 0 0.5rem;
}

.top-nav-link:hover, .top-nav-link:active{
    text-decoration: underline;
}

.profile-picture{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.google-apps-toggle{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 0.8rem 0 1rem;
    color: #5f6368;
}

/* search */

.search-container{
    width: 100%;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 7rem;
    text-align: center;
}

@media screen and (max-width: 550px){
    .search-container{
        padding-top: 5rem;
    }
}

.search-form{
    width: 100%;
    padding: 1.5rem;
}

.search-field{
    height: 44px;
    width: 100%;
    max-width: 586px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px 8px 0 14px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-field:hover, .search-field:active{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-field-input{
    display: flex;
    height: 34px;
    flex: 1;
}

.search-field-input input{
    display: flex;
    flex: 1;
    border: none;
    margin-top: -5px;
    outline: none;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    background: transparent;
}

.search-icon{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    margin-top: -5px;
}

.search-icon svg{
    height: 20px;
    width: 20px;
    flex: 1;
    color: #9aa0a6;
}

.search-buttons{
    padding-top: 1.2rem;
}

.search-form-btn{
    height: 36px;
    margin: 0.8rem 4px;
    padding: 0 1.2rem;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background: #f8f9fa;
    outline: none;
    line-height: 1.9rem;
    color: #3c4043;
}

.search-form-btn:hover, .search-form-btn:active{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search-form-btn:focus{
    border: 1px solid #4285f4;
}

@media screen and (max-width: 360px){
    .search-form-btn{
        margin: 0.3rem 4px;
    }
}

/* footer (bottom) nav */

.footer{
    margin-top: auto;
    background: #f2f2f2;
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1.5rem;
}

@media screen and (max-width: 685px){
    .bottom-nav{
        justify-content: center;
    }
}


.bottom-nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-nav-link{
    display: block;
    padding: 1rem;
    color: #70757a;
}

.bottom-nav-link:hover, .bottom-nav-link:active{
    text-decoration: underline;
}